# Identidad canónica del creador y mantenedor del proyecto.
Skaymer AR <74587156+Skaymer-AR@users.noreply.github.com>
Skaymer AR <74587156+Skaymer-AR@users.noreply.github.com> <skaymer@users.noreplace.github.com>
Skaymer AR <74587156+Skaymer-AR@users.noreply.github.com> <skaymer@users.noreply.github.com>
Skaymer AR <74587156+Skaymer-AR@users.noreply.github.com> <elagus433@gmail.com>
